[Desktop Entry]
Name=QModbusExplorer
Comment=Explore Modbus RTU and TCP networks
Exec=QModbusExplorer
Icon=io.github.r_buc.QModbusExplorer
Terminal=false
Type=Application
Categories=Development;Network;Utility;
Keywords=Modbus;TCP;RTU;Serial;
StartupNotify=true
